.timeline-navigation {
	font-size: 1.8rem;
	margin-bottom: 4rem;
	margin-top: 0;
}

.timeline-content {
	margin-bottom: 4rem;
}

.years-container h3 {
	margin: 0 auto;
}

.timeline-years {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin: 0 auto 2rem;

	> li {
		display: inline-block;
		flex-basis: 10%;
		margin-bottom: 10px;

		@media screen and ( max-width: 639px ) {
			margin-right: 10px;
		}
	}
}

.year-links {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}
