[role="alertdialog"],
[role="dialog"] {
	animation: fade-in 400ms 200ms both;
	background-color: $white;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 2rem 2rem 4rem;

	@media screen and (min-width: 640px) {
		box-shadow: 0 19px 38px rgba( $black, 12% ), 0 15px 12px rgba( $black, 22% );
		left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
		min-height: auto;
		min-width: calc(640px - (15px * 2)); /* == breakpoint - left+right margin */
		position: absolute;
		top: 2rem;
		transform: translateX(-50%);
		width: 75%;
	}
}

.dialog-label {
	margin: 0 auto;
	text-align: center;
}

/* native <dialog> element uses the ::backdrop pseudo-element */

/* dialog::backdrop, */
.dialog-backdrop {
	animation: fade-in 200ms both;
	bottom: 0;
	display: none;
	left: 0;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;

	&.active {
		display: block;
	}

	@media screen and (min-width: 640px) {
		background: rgba( $black, 80% );
	}
}

.no-scroll {
	overflow-y: auto !important;
}

.has-dialog {
	overflow: hidden;
}

.dialog-close {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.dialog-btn {
	padding: .5rem 1.5rem;
}
