.footer {
	border-top: 2px solid rgba( $black, 0.2 );
	margin-top: 4rem;
	padding: 4rem 4rem 8rem;
}

.footer-nav {
	font-size: 1.6rem;
	list-style: none;
	margin: 0 auto;
	max-width: 180rem;
	padding: 0;

	> li {
		flex: 1 1 auto;
		margin-bottom: 4rem;
		text-align: center;
	}

	@media screen and ( min-width: $large ) {
		display: flex;

		> li {
			margin-bottom: 0;
		}
	}
}
