html {
	font-size: 62.5%; // 16px * 0.625 = 10px;
}

body {
	-ms-overflow-style: scrollbar;
	background-color: $white;
	color: $black;
	font-family: $serif;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	min-width: 320px;
	padding: 0;
	position: relative;
}
