// breakpoints
$tiny: 400px;
$small: 500px;
$medium: 768px;
$large: 992px;
$x-large: 1024px;

// fonts
$serif: 'Lexend', sans-serif;
$hangul: 'Nanum Gothic', sans-serif;

// colors
$red: #C00000;
$blue: #1601C0;
$gold: #C0AB00;
$black: #0A0A0A;
$white: #F8F8FF;

