<div class="alpha-navigation">
	<ul class="inline-list korean" style="margin-top: -20px;">
		<li>
			ㄱ
		</li>
		<li>
			ㄴ
		</li>
		<li>
			ㄷ
		</li>
		<li>
			ㄹ
		</li>
		<li>
			ㅁ
		</li>
		<li>
			ㅂ
		</li>
		<li>
			ㅅ
		</li>
		<li>
			ㅇ
		</li>
		<li>
			ㅈ
		</li>
		<li>
			ㅊ
		</li>
		<li>
			ㅋ
		</li>
		<li>
			ㅌ
		</li>
		<li>
			ㅍ
		</li>
		<li>
			ㅎ
		</li>
	</ul>
</div>