<span class="small-title">Select Century</span>
<ul class="inline-list timeline-navigation">
	<li>
		<button type="button" class="dialog-btn" onclick="openDialog('19th-century-modal', this)">19<sup>th</sup> Century (1800s)</button>
	</li>
	<li>
		<button type="button" class="dialog-btn" onclick="openDialog('20th-century-modal', this)">20<sup>th</sup> Century (1900s)</button>
	</li>
	<li>
		<button type="button" class="dialog-btn" onclick="openDialog('21st-century-modal', this)">21<sup>st</sup> Century (2000s)</button>
	</li>
</ul>
